html {
  background-color: rgb(31, 31, 31);
  background-color: #444444;
  background-color: #21252b;
  color: white !important;  
}
.openchannels-popup {
  padding: 5px 30px;
}

.openchannels-popup .buttons {
  min-width: 320px;
  margin-bottom: 20px;
}

.open-tabs-btn {
  margin: 3px 1.5px;
  padding: 8px 16px;
  font-size: 13px;
  background-color: #444;
  background-color: rgba(255,255,255,0.1);
  color: white;
  border: 0;
  border-radius: 5px;
  display: inline-block;
}
.open-tabs-btn:hover {
  background-color: rgba(255,255,255,0.2);
  cursor: pointer;
}

.ytsupport-title {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  max-width: 200px;
  max-width: 140px;
  line-height: 25px;
  display: inline-block;
}
.openchannels-popup a {
  color: rgba(255,255,255,0.8);
}
.openchannels-popup a:hover {
  color: rgba(255,255,255,1);
}
.openchannels-popup .logo {
  margin-top: 10px;
  max-width: 40px;
  display: inline-block;
}
/*
.openchannels-popup .links {
  display: inline-block;
  width: 70px;
  margin-left: 15px;
  line-height: 22px;
  position: relative;
  top: -6px;
  display: none;
}
*/
.openchannels-popup .links-bottom {
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
}

.openchannels-popup p {
  line-height: 20px;
  font-size: 14px;
}
#formLike {
  margin-bottom: 5px;
}