.stopwar {
  background-color: rgb(31, 31, 31);
  background-color: #444444;
  background-color: #21252b;
  color: white !important;  
  font-family: Inter,Helvetica Neue,Helvetica, roboto, Arial, Ubuntu, sans-serif;
}
.openchannels-popup {
  padding: 16px 30px 8px 30px;
}

.openchannels-popup .buttons {
  min-width: 380px;
  margin-bottom: 20px;
}
.openchannels-popup .buttons2 {
  min-width: 380px;
  margin-bottom: 40px;
  margin-top: 5px;
}

.open-tabs-btn {
  margin: 3px 1.5px;
  padding: 8px 16px;
  font-size: 13px;
  background-color: #444;
  background-color: rgba(255,255,255,0.1);
  color: white;
  border: 0;
  border-radius: 5px;
  display: inline-block;
}
.open-tabs-btn:hover {
  background-color: rgba(255,255,255,0.2);
  cursor: pointer;
}

.ytsupport-top {
  max-width: 280px;
  display: inline-block;
  margin-right: 15px;
}
.ytsupport-title {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  display: inline-block;
  margin: 0px 0 0px 0;
}
.ytsupport-descr {
  line-height: 17px;
  font-size: 12px;
}
.openchannels-popup a {
  color: rgba(255,255,255,0.8);
}
.openchannels-popup a:hover {
  color: rgba(255,255,255,1);
}
.openchannels-popup .logo {
  margin: 0px -10px 0 0;
  max-width: 40px;
  display: inline-block;
  position: relative;
  top: -15px;
}
.openchannels-popup .logo img {
  max-width: 100%;
}
.openchannels-popup .links-bottom {
  float: right;
  margin-top: 20px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.openchannels-popup p,
.openchannels-popup .text {
  line-height: 20px;
  font-size: 14px;
}
#promoteDetailsManual {
  line-height: 20px;
  font-size: 14px;
}
.promote-details-li {
  margin-bottom: 5px;
}

#radiobuttonsPlaylist {
  margin-top: 2px;
  margin-bottom: 10px;
}
.playlist-radio-default {
  margin-bottom: 2px;
}
.playlist-link-edit {
  background-color: rgba(0,0,0,0);
  color: rgba(255,255,255,0.85);
  border-radius: 2px;
  border-color: transparent !important;
  font-size: 12px;
  text-overflow: ellipsis;
  min-width: 210px;
  max-width: 210px;
}
.playlist-link-edit:hover,
.playlist-link-edit:focus {
  background-color: rgba(255,255,255,0.1) !important;
  color: white;
  border-color: transparent !important;
}
#formLike {
  margin-bottom: 5px;
}

#formLike select {
  border-radius: 3px !important;
  background-color: rgba(255,255,255,1);
  padding: 2px 3px;
  margin-top: 2px;
}
#formLike #time {
  margin-top: 1px;
  border-radius: 3px !important;
}

.playlist-radio {
  display: inline-block;
  max-width: 350px !important;
  min-width: 110px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.defaultplaylist-link {
  text-decoration: none !important;
  position: relative;
  top: 0px;
}
.defaultplaylist-link-manual {
  display: inline-block;
  max-width: 235px !important;
  min-width: 110px !important;
  position: relative;
  top: 5px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  text-decoration: none !important;
}

.time-remove {
  padding: 2px 6px 4px 6px;
  cursor: pointer;
  margin-left: 3px;
  border-radius: 3px;
}
.time-remove:hover {
  background-color: rgba(255,255,255,0.2);
}

#playlistURLAdd {
  margin-left: 20px;
}
#addNewPlaylistBtn {
  padding: 3px 10px; 
  visibility: hidden;
}
.promoteDetailsManual {
  line-height: 20px;
    font-size: 14px;
}

.playlist-word {
  display: inline-block;
}

.promote-instructions {
  margin-bottom: 0px;
  line-height: 18px;
}
.playlist-radiobuttons-container {
}